*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Header part */
h2{
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
}
#reload{
    width: 2.7rem;
}

/* main part */

/* the task adding portion */
.addtask{
    display: grid;
    place-items: center;
}
#thetask{
    height: 1.5rem;
    border: 0.1rem solid;
    font-size: 1.2rem;
    padding: 0.1rem;
    vertical-align: middle;
}
#add_image{
    width: 1.5rem;
    padding: 0.1rem;
    vertical-align: middle;
}

/* From the JS*/

.tasks{
    font-size: 1px;
}
.del_image{
    width: 1rem;
}