*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Header part */
h2{
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
}
#reload{
    width: 3rem;
}

/* main part */

/* the task adding portion */
.addtask{
    display: grid;
    place-items: center;
    margin: 1rem;
}
#thetask{
    height: 1.5rem;
    border: 0.1rem solid;
    font-size: 1.2rem;
    padding: 1rem;
    vertical-align: middle;
}
#add_image{
    width: 2rem;
    padding: 0.1rem;
    vertical-align: middle;
}

/* From the JS*/


.task_s{
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 20rem;
    border: 1px solid black;
    box-shadow: 1px 1px 3px 2px rgb(211, 211, 211);
}

.task_s> .del_image:hover{
    width: 2.2rem;
    border: 1px solid black;
    border-radius: 50%;
    animation: tilt 1s linear;
}

.del_image {
    margin-left: auto;
    margin-right: 1rem;
    width: 2rem;
}

[type="checkbox"] {
    transform: scale(1.25); 
    margin-right: auto;
    margin-left: 1rem;
}


@keyframes tilt{
    0%, 100%{
        transform: rotateZ(0deg);
    }

    40%{
        transform: rotateZ(-10deg);
    }
    80%{
        transform: rotateZ(10deg);
    }
}